*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html's line 9 */
.container{
  width: 1000px;
  height: 1000px;
  margin: 10px;
}

/* html's line 11, 24 */
.row{
  margin-bottom: 15px;
}

.box{
  display: inline-block;
}
